<h1>Avalible Hackers</h1>
let's get the job done quickly before the feds catch on...
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>SecretID</th>
            <th>Price</th>
            <th>Expierience Level</th>
            <th>Security Clierence</th>
            <th>Speciality</th>
            <th>CompletedJobs</th>
            <th>Victims</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (hack of hacker) {
        const secretID = hack.secretID;
        const price = hack.price;
        const exLevel =hack.expierienceLevel
        const sc = hack.securityClierence;
        const spec=hack.speciality
        const compJobs=hack.completedJobs
        const victims=hack.victims
         %>
         <tr class="mb-2"> 
            <td><%=secretID %></td>
            <td><%=price %></td>
            <td><%=exLevel %></td>
            <td><%=sc %></td>
            <td><%=spec %></td>
            <td><%=compJobs %></td>
            <td><%=victims %></td>
        <% } %>
    </tbody>
</table>
