<% if (hacker.length==0){%>

    There are no Hackers that are detactable at the moment. 
  
  <% } else  if (hacker==null) { %>
  
    There are no Hackers that are detactable at the moment. 
  
  <% } else if (hacker.length>0) { %>
  
      <h2 class="mt-5">Hackers in your area: </h2>
  
      <div class="d-flex flex-wrap  overflow-scroll">
          <% for (hack of hacker) {%>
              <div class="p-3 m-3 border border-danger bg-dark" style="max-width: 30vw; color: white;">
                  
                  <br> 
                  <div style="font-weight: 600; ">
                    <%= hack.secretID %>
                  </div>
                  <hr>
                  <div class="d-flex flex-wrap  overflow-wrap">
                    <div class="p-1 m-1">
                        Hacker Security Clierence: <%= hack.securityClierence %>
                        
                    </div>
                    <div class="p-1 m-1">
                        
                        Hacker Completed Jobs: <%= hack.completedJobs %>
                    </div>
                    <div class="p-1 m-1">
                        Teir:  <%= hack.expierienceLevel %>
                    </div>
                    <div class="p-1 m-1"> 
                       It is <%= hack.instructor %> that this person can be your professor 
                    </div>
                  </div>
                  
                  
              </div>
          <% }%>
          </div>
  
      <hr>
  <% } %>




